<div class="container">
    <div class="card">
        <div class="card-header"><h1 class="text-center">Lista de Usuários</h1></div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Email</th>
                    <th>É administrador?</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    <% usuarios.forEach(usuario => { %>
                        <tr>
                            <td><%= usuario.name %></td>
                            <td><%= usuario.age %></td>
                            <td><%= usuario.email %></td>
                            <td><%= usuario.isAdmin == 1 ? 'Sim' : 'Não' %></td>
                            <td>
                                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarUsuario">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>

                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#excluirUsuario">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>


            </table>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastrarUsuario">Cadastrar</button>
        </div>

    </div>
</div>


<%- include('../partials/cadastrarUsuario')%>
<%- include('../partials/editarUsuario')%>
<%- include('../partials/excluirUsuario')%>

