<div class="container">
    <div class="card">
        <div class="card-header"><h1 class="text-center">Lista de Usuários</h1></div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <th class="col-md-1">Identificação</th>
                    <th class="col-md-4">Nome Completo</th>
                    <th class="col-md-3">Ações</th>
                </thead>
                <tbody>
                    <% usuarios.forEach(usuario => { %>
                        <tr>
                            <td><%= usuario.id %></td>
                            <td><%= usuario.name %></td>
                            <td>
                                <a class="btn btn-info" href="/usuarios/<%= usuario.id %>">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>

                                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarUsuario">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>

                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#excluirUsuario">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>


            </table>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastrarUsuario">Cadastrar</button>
        </div>

    </div>
</div>


<%- include('../partials/cadastrarUsuario')%>
<%- include('../partials/editarUsuario')%>
<%- include('../partials/excluirUsuario')%>

